@page
@model ServiceHost.Pages.ChangePasswordModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "Shared/_Layout";
}

@section Css
{
    <style>
        .password-help-box {
            background-color: #f8f9fa;
            border: 1px solid #e0e0e0;
            padding: 10px;
            margin-top: 10px;
            border-radius: 5px;
            font-size: 14px;
        }

            .password-help-box ul {
                list-style-type: none;
                padding-left: 0;
            }

            .password-help-box li {
                margin-bottom: 5px;
                display: flex;
                align-items: center;
            }

            .password-help-box span {
                font-weight: bold;
            }

            .password-help-box .check-icon {
                width: 15px;
                height: 15px;
                margin-left: 10px;
                background-image: url('check-icon.png');
                background-size: cover;
                display: none;
            }

            .password-help-box .text-success {
                color: #28a745;
            }

            .password-help-box .text-danger {
                color: #dc3545;
            }
    </style>
}
<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 m-auto">

                                @if (Model.Message != null)
                                {
                                    <div class="alert alert-primary">@Model.Message</div>
                                }
                                <form method="post">
                                    <div class="login-form">
                                        <div class="row">
                                            <div class="col-md-12 col-12 mb-20">
                                                <label asp-for="Command.Password">کلمه عبور فعلی</label>
                                                <input class="form-control" type="text" asp-for="Command.Password" placeholder="کلمه عبور فعلی" required>
                                                <span class="error" asp-validation-for="Command.Password"></span>
                                            </div>
                                            <div class="col-md-12 col-12 mb-20">
                                                <label asp-for="Command.NewPassword">کلمه عبور جدید</label>
                                                <input class="form-control" type="text" asp-for="Command.NewPassword" placeholder="کلمه عبور جدید" required>
                                                <span class="error" asp-validation-for="Command.NewPassword"></span>

                                                <div class="password-help-box">
                                                    <ul>
                                                        <li id="lengthCheck" class="password-condition">
                                                            <span>طول رمز عبور باید حداقل 8 کاراکتر باشد.</span>
                                                            <span class="check-icon"></span>
                                                        </li>
                                                        <li id="caseCheck" class="password-condition">
                                                            <span>باید شامل حروف بزرگ و کوچک لاتین باشد.</span>
                                                            <span class="check-icon"></span>
                                                        </li>
                                                        <li id="persianCheck" class="password-condition">
                                                            <span>از حروف فارسی استفاده نکنید.</span>
                                                            <span class="check-icon"></span>
                                                        </li>
                                                        <li id="specialCharCheck" class="password-condition">
                                                            <span>باید حداقل از یک کاراکتر خاص استفاده کنید.</span>
                                                            <span class="check-icon"></span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-12 mb-20">
                                                <label asp-for="Command.RePassword">تکرار کلمه عبور جدید</label>
                                                <input class="form-control" type="text" asp-for="Command.RePassword" placeholder="تکرار کلمه عبور جدید" required>
                                                <span class="error" asp-validation-for="Command.RePassword"></span>
                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-primary w-100 mt-3">تغییر</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
            document.getElementById('password').addEventListener('input', function() {
        const password = this.value;

        
        const lengthCheck = document.getElementById('lengthCheck');
        const caseCheck = document.getElementById('caseCheck');
        const persianCheck = document.getElementById('persianCheck');
        const specialCharCheck = document.getElementById('specialCharCheck');

        
        if (password.length >= 8) {
            lengthCheck.querySelector('.check-icon').style.display = 'inline-block';
            lengthCheck.style.color = '#28a745'; 
        } else {
            lengthCheck.querySelector('.check-icon').style.display = 'none';
            lengthCheck.style.color = '#dc3545'; 
        }

        if (/[a-z]/.test(password) && /[A-Z]/.test(password)) {
            caseCheck.querySelector('.check-icon').style.display = 'inline-block';
            caseCheck.style.color = '#28a745';
        } else {
            caseCheck.querySelector('.check-icon').style.display = 'none';
            caseCheck.style.color = '#dc3545';
        }

        if (!/[آ-ی]/.test(password)) {
            persianCheck.querySelector('.check-icon').style.display = 'inline-block';
            persianCheck.style.color = '#28a745';
        } else {
            persianCheck.querySelector('.check-icon').style.display = 'none';
            persianCheck.style.color = '#dc3545';
        }

        if (/[!@@#$%^&*(),.?":{}|<>]/.test(password)) {
            specialCharCheck.querySelector('.check-icon').style.display = 'inline-block';
            specialCharCheck.style.color = '#28a745';
        } else {
            specialCharCheck.querySelector('.check-icon').style.display = 'none';
            specialCharCheck.style.color = '#dc3545';
        }
            });

    </script>
}
