@page
@model ServiceHost.Pages.ForgetPasswordModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-wrapper">
                <div class="page-content-wrapper">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 m-auto">
                            <div class="info_table">
                                <div>
                                    <label for="nationalCode"></label>
                                    <input class="form-control" id="nationalCode" type="text" placeholder="کد ملی خود را وارد کنید..." />
                                </div>

                            </div>

                            <div class="text-center">
                                <a href="#" class="btn btn-info mb-3 mt-3 p-2 d-block">
                                    بازیابی رمز عبور از طریق شماره تلفن
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
