@page
@model ServiceHost.Pages.NotConfirmedModel
@{
    ViewData["Title"] = "تایید نشده";
}

<div class="text-center mb-5">
    <h2 class="alert alert-warning text-center">اکانت شما هنوز تایید نشده است. از صبر و شکیبایی شما سپاسگزاریم</h2>
    <a asp-page="/Profile" class="btn btn-primary text-center">ویرایش پروفایل</a>
</div>

<div class="alert alert-primary">برای بررسی مجدد، از حساب خود خارج شوید و دوباره وارد شوید.</div>
