@page
@using _01_Framework.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceHost.Pages.RegisterModel
@{
}
@section Css
{
    <style>
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input[type="number"] {
            -moz-appearance: textfield;
        }
    </style>
}

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 m-auto">
                                @if (Model.RegisterMessage != null)
                                {
                                    <div class="alert alert-danger">@Model.RegisterMessage</div>
                                }
                                <form method="post" enctype="multipart/form-data">
                                    <div class="login-form">
                                        <div class="row">
                                            <div class="col-12 mb-20">
                                                <div class="text-center form-check">
                                                    <input type="radio" class="btn-check" value="@Roles.Student" name="roleId" id="student" autocomplete="off" checked>
                                                    <label class="btn btn-outline-primary" for="student">دانشجو هستم</label>

                                                    <input type="radio" class="btn-check" value="@Roles.Professor" name="roleId" id="proffessor" autocomplete="off">
                                                    <label class="btn btn-outline-danger" for="proffessor">استاد هستم</label>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.FirstName">نام <span class="red-star">*</span></label>
                                                <input class="form-control" maxlength="150" type="text" asp-for="Command.FirstName" placeholder="نام">
                                                <span asp-validation-for="Command.FirstName" class="error"></span>
                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.LastName">نام خانوادگی <span class="red-star">*</span></label>
                                                <input asp-for="Command.LastName" class="form-control" maxlength="200" type="text" placeholder="نام خانوادگی">
                                                <span asp-validation-for="Command.LastName" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.NationalCode">کد ملی <span class="red-star">*</span></label>
                                                <input asp-for="Command.NationalCode" onchange="checkNationalCode(this)" class="form-control" maxlength="10" type="text" placeholder="کد ملی">
                                                <span asp-validation-for="Command.NationalCode" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.NationalCardPicture">کارت ملی <span class="red-star">*</span></label>
                                                <input asp-for="Command.NationalCardPicture" id="inputPicture" class="form-control" type="file" accept="image/*">
                                                <span asp-validation-for="Command.NationalCardPicture" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.Code">کد استادی/دانشجویی <span class="red-star">*</span></label>
                                                <input asp-for="Command.Code" class="form-control" maxlength="20" type="text" placeholder="کد استادی/دانشجویی">
                                                <span asp-validation-for="Command.Code" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.Major">رشته <span class="red-star">*</span></label>
                                                <select asp-for="Command.Major" class="form-control my-1 mr-sm-2 select22" asp-items='new SelectList(Majors.List, "Id", "Name")'>
                                                    <option value="0">رشته</option>
                                                </select>
                                                <span asp-validation-for="Command.Major" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.UniversityType">نوع دانشگاه <span class="red-star">*</span></label>
                                                <select class="custom-select my-1 mr-sm-2" asp-for="Command.UniversityType" asp-items="Model.UniTypes" onchange="FillUnis(this);">
                                                </select>
                                                <span asp-validation-for="Command.UniversityType" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20 form-group">
                                                <label class="control-label" asp-for="Command.University">دانشگاه <span class="red-star">*</span></label>
                                                <select id="lstUnis" class="form-control my-1 mr-sm-2" asp-for="Command.University" asp-items="Model.Unis">
                                                </select>
                                                <span asp-validation-for="Command.University" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.PhoneNumber">موبایل <span class="red-star">*</span></label>
                                                <input class="form-control" maxlength="11" type="text" asp-for="Command.PhoneNumber" placeholder="موبایل">
                                                <span asp-validation-for="Command.PhoneNumber" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.Email">ایمیل <span class="red-star">*</span></label>
                                                <input maxlength="300" class="form-control" type="email" asp-for="Command.Email" placeholder="ایمیل" style="direction: rtl">
                                                <span asp-validation-for="Command.Email" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.Password">کلمه عبور <span class="red-star">*</span></label>
                                                <input class="form-control" type="password" id="password" asp-for="Command.Password" placeholder="کلمه عبور">
                                                <span asp-validation-for="Command.Password" class="error"></span>

                                            </div>
                                            <div class="col-md-6 col-12 mb-20">
                                                <label class="control-label" asp-for="Command.RePassword">تکرار کلمه عبور <span class="red-star">*</span></label>
                                                <input class="form-control" id="rePassword" type="password" asp-for="Command.RePassword" placeholder="تکرار کلمه عبور">
                                                <span asp-validation-for="Command.RePassword" class="error"></span>

                                            </div>
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-success w-100 mt-3">ثبت نام</button>
                                            </div>
                                            <div class="col-12 text-center mt-2">
                                                <p>آیا قبلا ثبت نام کرده‌اید؟ <span class="text-primary"><a asp-page="/Login">ورود</a></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $(".select22").select2();
        });
    </script>


    <script>
        const inputPicture = document.getElementById('inputPicture');
        const maxSize = 5*1024*1024;

        inputPicture.addEventListener('change', function() {
            const file = this.files[0];
            if (file) {
                if (file.size > maxSize) {
                    alert('حجم فایل تصویر نباید بیشتر از 5 مگابایت باشد.');
                    this.value = '';
                }
            }
        });
    </script>
}
