@page
@model ServiceHost.Pages.RejectedModel
@{
    ViewData["Title"] = "رد شده";
}
<div class="text-center mb-5">
    <h2 class="alert alert-danger text-center">اکانت شما مورد تایید مدیر سیستم قرار نگرفت! لطفا اطلاعات خود را تصحیح کنید سپس به مدیر سیستم اطلاع دهید</h2>
    <a asp-page="/Profile" class="btn btn-primary text-center">ویرایش اطلاعات</a>
</div>
