@page
@using _01_Framework.Application
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceHost.Pages.WalletModel
@{
    Layout = "Shared/_Layout";
    ViewData["Title"] = "کیف پول";
}

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info">@Model.Message</div>
}
<div class="text-center">
    <h2>موجودی کیف پول شما:</h2>
    <h3 id="wallet-amount">@Model.Balance.ToMoney() تومان</h3>
    <form method="post">
        <p class="mt-5">شارژ کیف پول</p>
        <div class="col-md-12 col-12 mb-3">
            <label asp-for="Command.Amount">مبلغ (تومان):</label>
            <input asp-for="Command.Amount" step="10000" min="10000" class="form-control" id="amount-input" type="number" placeholder="مثال: 10000 معادل 10 هزار تومان">
        </div>
        <button type="submit" class="btn btn-success mb-3 text-center">شارژ</button>
    </form>
    <a asp-page="RequestWithdraw" class="btn btn-warning m-5">درخواست برداشت از کیف پول</a>

</div>
