@page
@using _01_Framework.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ServiceHost.Areas.Administration.Pages.Course.CreateModel
@{
}
@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-danger">@Model.Message</div>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">تعریف درس جدید</h3>
            </div>
            <div class="panel-body">
                <form method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Name" class="control-label">نام درس</label>
                                <input type="text" class="form-control" asp-for="Command.Name" />
                                <span asp-validation-for="Command.Name" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Price" class="control-label">قیمت هر جلسه</label>
                                <input type="text" class="form-control" asp-for="Command.Price" />
                                <span asp-validation-for="Command.Price" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Code" class="control-label">کد درس</label>
                                <input type="text" class="form-control" asp-for="Command.Code" maxlength="10" />
                                <span asp-validation-for="Command.Code" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Major" class="control-label">رشته</label>
                                <select asp-for="Command.Major" class="form-control select22" asp-items='new SelectList(Majors.List, "Id", "Name")'>
                                    <option value="0">رشته درس را انتخاب کنید ...</option>
                                </select>
                                <span asp-validation-for="Command.Major" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.NumberOfUnit" class="control-label">تعداد واحد درسی</label>
                                <input type="number" value="" max="3" min="1" class="form-control" asp-for="Command.NumberOfUnit" />
                                <span asp-validation-for="Command.NumberOfUnit" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.CourseKind" class="control-label">نوع درس</label>
                                <select type="text" class="form-control" asp-for="Command.CourseKind">
                                    <option value="0">نوع درس را انتخاب کنید ...</option>
                                    <option value="نظری">نظری</option>
                                    <option value="عملی">عملی</option>
                                </select>
                                <span asp-validation-for="Command.CourseKind" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label asp-for="Command.UniversityType" class="control-label">نوع دانشگاه</label>
                                    <select onchange="FillUnivirsities(this);" class="form-control" asp-for="Command.UniversityType" asp-items="Model.UniTypes" data-val="false" placeholder="نوع دانشگاه">
                                    </select>
                                    <span asp-validation-for="Command.UniversityType" class="error"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.University" class="control-label">دانشگاه</label>
                                <select id="lstUnis" class="form-control select22" asp-for="Command.University" asp-items="Model.Unis" data-val="false" placeholder="دانشگاه">
                                </select>
                                <span asp-validation-for="Command.University" class="error"></span>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-default waves-effect" asp-page="./Index">بازگشت</a>
                    <button type="submit" class="btn btn-info waves-effect waves-light">تعریف</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $(".select22").select2();
        });
    </script>

}
