@model List<_02_Query.Contracts.Message.MessageQueryModel>
@{
}
<style>

    .message {
        border: 1px solid #0077cc;
        border-radius: 5px;
        padding: 20px;
        margin: 20px;
    }

    .date {
        color: #0077cc;
        font-style: italic;
    }
</style>

@foreach (var message in Model)
{
    <div class="message">
        <h4>@message.Title</h4>
        <p class="date">@message.CreationDate</p>
        <p>@message.Body</p>
    </div>
}
