@{
}


<div class="footer-area" id="contactUs">
    <div class="footer-copyright">
        <div class="container wide">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-copyright-wrapper footer-copyright-wrapper--default-footer">
                        <div class="container">
                            <div class="row align-items-center no-gutters">
                                <div class="col-lg-2 col-md-2">
                                    <div class="footer-logo">
                                        <a asp-page="/Index">
                                            <img src="~/Theme/assets/img/logo.png" height="100" width="100" class="img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-7 col-md-5">

                                    <div class="copyright-text">

                                        &copy; <a href="#"></a>تمامی حقوق متعلق به سامانه به‌آموز می باشد.
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-5">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>